---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Legal Page | Gyann`,
  description: `This is the legal page template. It is a great starter for your company's Terms of Service, Terms & Conditions, Privacy Policy, etc.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Legal Page</h1>
<h2>Terms of Service</h2>
<h3>Introduction</h3>
<p>By accessing and using our services, you agree to comply with and be bound by the following terms and conditions. If you do not agree with these terms, please refrain from using our services.</p>
<h3>Use of Services</h3>
<ul>
<li>You are responsible for maintaining the confidentiality of your account information.</li>
<li>You agree not to use our services for any illegal or unauthorized purposes.</li>
</ul>
<h3>Disclaimer of Liability</h3>
<p>We strive to provide accurate and up-to-date information, but we make no warranties or representations regarding the accuracy or completeness of the content.</p>
<h3>Termination of Services</h3>
<p>We reserve the right to terminate or suspend your account and access to our services at our sole discretion, without prior notice.</p>
<h2>Privacy Policy</h2>
<h3>Information Collection and Use</h3>
<p>We collect and use personal information for the purpose of providing and improving our services. By using our services, you agree to the collection and use of information in accordance with this policy.</p>
<h3>Cookies</h3>
<p>We use cookies to enhance your experience on our website. You can choose to disable cookies through your browser settings.</p>
<h3>Third-Party Links</h3>
<p>Our services may contain links to third-party websites. We are not responsible for the content or privacy practices of these websites.</p>
<h3>Changes to Privacy Policy</h3>
<p>We reserve the right to update our privacy policy. We will notify you of any changes by posting the new policy on this page.</p>
<h2>Contact Us</h2>
<p>If you have any questions about our legal page or the practices described herein, please contact us at <a href="mailto:support@epiction.co">support@epiction.co</a>.</p>

  </TextSection>
</Layout>