---
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
  "Other",
]

---

<form name="Contact Form" method="POST" action="https://formsubmit.co/gyan@epiction.co">
  <FormInput type="text" label="Name" name="Name" placeholder="John Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <FormSelect label="How Did You Hear About Me?" options={selectOptions} />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>